/qodana.yaml
/fMRIFullData/
.idea/
__pycache__/masker.cpython-38.pyc
.DS_Store
/convnext_train/
/kamitani_lab_code/
/Imagenet Kamitani Subset Data/
__pycache__/
/demo_slir.py
/demo_slir_compare.py
/img_features_cnn/
/kaggle/
/cnn_feature_convnext_and_alexnet/
/GenericObjectDecoding-master/
/imagenet_kamitani_subset/
/sub_wise_lin_reg_data/
/kaggle/
/subject_wise_numpy_arrays/
/srinjoy_data/
